body {
    background: #f5f5f5 url("../img/bg-gray.jpg") repeat top left;
}
.signin-to-center {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 100;
    
    min-height: 270px;
    margin-top: -200px;
    
    max-width: 300px;
    margin-left: -150px;
}
.form-signin {
    border: 1px solid #e5e5e5;
    background-color: white;
    -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
                
    padding: 19px 29px 29px;
}
.form-signin h2 {
    margin-bottom: 20px;
}
.form-signin input[type="text"], .form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    padding: 7px 9px;
}
.login-error {
    margin: 150px;
}
.version-number {
    color: #c0c0c0;
    text-shadow: 0px 0px 2px #d0d0d0;
    text-align: center;
}
